name: Notify Telegram

on:
  push:            # Khi có push
  schedule:        # Hoặc lên lịch tự động
    - cron: '45 8 * * *'    # Mỗi ngày 6h sáng (UTC), điều chỉnh theo ý bạn
  workflow_run:    # Khi workflow cụ thể fail/success
    workflows: ["CI"]  # Tên workflow muốn lắng nghe (ví dụ "CI")
    types: [completed]  # Khi workflow hoàn tất

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Send message to Telegram
        env:
          TG_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TG_CHAT: ${{ secrets.TELEGRAM_CHAT_ID }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_REPO: ${{ github.repository }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
          GITHUB_JOB: ${{ github.job }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_STATUS: ${{ job.status }}
        run: |
          MESSAGE="ec o ec
          "
          curl -s -X POST https://api.telegram.org/bot$TG_TOKEN/sendMessage \
                -d chat_id="$TG_CHAT" -d text="$MESSAGE"

# Tuỳ trường hợp, có thể tùy chỉnh trigger cho phù hợp.
